/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --primary-color: linear-gradient(to left top, #031A9A, #8B53FF);
  --white-color:#fff;
  --blue-color:#4A98F7;
  --red-color:#E24D4C;
  --green-color:#6DD400;
  --black-color:#000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}

section {
  background: var(--white-color);
  border-radius: 7px;
}

.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row {
  margin-bottom: 20px;
}
.tools-board .row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.tools-board .row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.tools-board .row .options .option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.tools-board .row .options .option:is(:hover, .active) :where(span, label) {
  color: var(--blue-color);
}
.tools-board .row .options .option :where(span, label) {
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.tools-board .row .options .option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
.tools-board .row .options .option #fill-color:checked ~ label {
  color: var(--blue-color);
}
.tools-board .row .options #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: var(--white-color);
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: var(--black-color);
}
.colors .option:nth-child(3) {
  background-color: var(--red-color);
}
.colors .option:nth-child(4) {
  background-color: var(--green-color);
}
.colors .option:nth-child(5) {
  background-color: var(--blue-color);
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.colors .option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttons .clear-canvas {
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.buttons .clear-canvas:hover {
  color: #fff;
  background: #6C757D;
}
.buttons .save-img {
  background: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.buttons .save-img:hover {
  background: #006bf7;
}

.drawing-board {
  flex: 1;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */